@model Bestreads.Models.Book

@{
    ViewBag.Title = "Edit";
}

<script>
    System.import("app/Components/book.component.js");
    System.import("app/app.component.js");
    System.import("app/app.routing.js");
</script>
<h2>Index</h2>

@{
    //<book-details book-id="@Model.BookID"></book-details>
    }


