
@{
    ViewBag.Title = "User";
}

<br /><br /><br />

<div class="well container-fluid" style="color: moccasin;background-image: url(https://images2.alphacoders.com/261/26102.jpg);  padding:0; ">
    <div class="well container-fluid" style="background-color:rgba(47,79,79,0.7); border: none; margin-bottom:0;">
        <div class="col-md-3 ">
            <br />
            <img src="http://downloadicons.net/sites/default/files/user-icon-2722.png" />

        </div>

        <div class="col-md-9 ">
            <br />
            <h1 style="color: moccasin;">John Doe</h1>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>
</div>


<div class="col-md-4 " style="padding-right: 2%;">
    <h2>My books</h2>
    <table class="table">
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
    </table>
</div>

<div class="col-md-4 ">
    <h2>My favorites</h2>
    <table class="table">
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
    </table>
</div>

<div class="col-md-4 ">
    <h2>My wishlist</h2>
    <table class="table">
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
        <tr class="success"><td>Book</td></tr>
    </table>
</div>


